body{
margin:0;
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(65,7,47,1) 19%, rgba(72,8,48,1) 21%, rgba(92,10,51,1) 32%, rgba(235,25,75,1) 70%, rgba(42,10,88,1) 100%, rgba(45,11,92,1) 100%, rgba(51,13,100,1) 100%, rgba(54,14,104,1) 100%, rgba(72,18,127,1) 100%, rgba(78,9,121,1) 100%, rgba(0,212,255,1) 100%);

}
#footer{
    font-size:1.5rem;
    color:#fff;
    background-color:#fff;
}
.footer__container{
    display:flex;
    flex-direction:column;
}
.footer__create{
    padding:20px 0;
    display:flex;
    align-items:center;
}
#footer input[name="name"]{
    margin-left: 30px;
    width: 300px;
    height: 30px;
}
#footer input[name="imgUrl"]{
    margin-left: 28px;
    width: 300px;
    height: 30px;
}
#footer input[name="title"]{
    margin-left: 42px;
    width: 300px;
    height: 30px;
}
#footer input[name="description"]{
    margin-left: 30px;
    width: 300px;
    height: 30px;
}
textarea {
    width: 300px;
    height: 42px;
    margin-left: 20px;
}