#header__top{
    padding: 4px 0;
    background-color: #000;
    color: #fff;
}

#header{
    /* background-color:#78E3FD; */
    padding: 32px 0;
}

#header .header__heading {
    font-size: 1.9rem;
font-family: 'Rampart One', cursive;
}
#header .header__btn-button {
    margin-left: 8px;
    padding: 4px 18px;
}
.header__heading-img img {
    object-fit: cover;
    width: 600px;
    border-radius: 3px;
}
#header .header__input {
    padding: 5px 6px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 3px;
}
#header__navbar {
    margin-top: 36px;
    background-color: #EF2E15;
    padding: 6px 0;
}
.nav-bar{
    padding: 6px 0;
}
#nav {
    font-size: 1.6rem;
    list-style: none;
}
#nav>li{
display: inline-block;
padding: 0 100px;
position: relative;
}
#nav li a{
    text-decoration: none;
    color:#fff;
    font-size: 1.7rem;
}
/* end header */
#content__img{
    background: url("https://img.sndimg.com:443/food/image/upload/q_80,fl_progressive,h_437,w_1025,c_fill/v1/img/recipes/20/02/9/498lRi1qS2OCuUok2JhY_pumpkin bacon pasta sauce 20029-4.jpg");
    padding: 33.333% 0 20px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.content__service{
    position: absolute;
    top:30px;
    left:50%;
    transform: translateX(-50%);
    text-align: center;
    color:var(--white-color)
}
.content__heading {
    font-size: 5rem;
    padding: 18px 0;
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
    margin-bottom: 12px;
}
.content__subheading {
    font-weight: 500;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
}

/* content */
#content{
    font-size:1.6rem;
    color: rgba(0, 0, 0, 0.6);
}
.content__api{
    list-style: none;
}

.content__item{
    padding: 28px 51px;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.1);
    margin: 26px 0;
}

.content__item-heading{
    font-weight: 500;
    padding: 10px 0;
    width: 678px;
    top: -18px;
    position: relative;
    color: rgba(0,0,0,0.8);
}

.content__item-img{
    width: 678px;
}

.content__item-desc{
    width: 678px;
    padding-top: 24px;
}
.content__heading-num {
    font-size: 48px;
    color:#000
}
button.btn-delete {
    margin-bottom: 16px;
    padding: 5px;
    outline: none;
    border: transparent;
    background: transparent;
    font-size: 18px;
    cursor: pointer;
}

/* footer */
#footer{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(65,7,47,1) 19%, rgba(72,8,48,1) 21%, rgba(92,10,51,1) 32%, rgba(235,25,75,1) 70%, rgba(42,10,88,1) 100%, rgba(45,11,92,1) 100%, rgba(51,13,100,1) 100%, rgba(54,14,104,1) 100%, rgba(72,18,127,1) 100%, rgba(78,9,121,1) 100%, rgba(0,212,255,1) 100%);
    padding:100px 0;
    font-size:1.5rem;
    color:#fff;
}
.footer__container{
    display:flex;
    flex-direction:column;
}
.footer__create{
    padding:20px 0;
    display:flex;
    align-items:center;
}
#footer input[name="name"]{
    margin-left: 30px;
    width: 300px;
    height: 30px;
}
#footer input[name="imgUrl"]{
    margin-left: 28px;
    width: 300px;
    height: 30px;
}
#footer input[name="title"]{
    margin-left: 42px;
    width: 300px;
    height: 30px;
}
#footer input[name="description"]{
    margin-left: 30px;
    width: 300px;
    height: 30px;
}
textarea {
    width: 300px;
    height: 42px;
    margin-left: 20px;
}